.intlContact textarea {
  resize: vertical;
}

.intlContact input,
.intlContact label,
.intlContact select,
.intlContact textarea {
  display: block;
  width: fit-content;
  font-family: inherit;
  font-size: inherit;
}

.intlContact
  input:not([type="submit"]):not([type="tel"]):not([name="postalCode"]),
.intlContact label,
.intlContact textarea {
  width: 100%;
  max-width: 350px;
}

.intlContact input[name="postalCode"] {
  width: 100%;
  max-width: 175px;
}

.intlContact small:not(:empty) {
  display: inline-block;
  line-height: 1.15;
}
